.container {
    display: flex;
    flex-wrap: wrap;
}

body {
    margin: 0;
    padding: 0;
}

#homepage {
    height: 100vh;
    background-color: #FFE2AD;
}

#logo {
    justify-content: flex-start;
    height: 25rem;
}

#officers {
    height: 100vh;
    background-color: burlywood;
}

#12989A
#D03815

#membership {
    height: 100vh;
    background-color: teal;
}

#certification {
    height: 100vh;
    background-color: burlywood;
}

#scholarship {
    height: 100vh;
    background-color: teal;
}

#sites {
    height: 100vh;
    background-color: burlywood;
}

#jobs {
    height: 100vh;
    background-color: teal;
}

#community {
    height: 100vh;
    background-color: burlywood;
}

#sponsors {
    height: 100vh;
    background-color: teal;
}

#contact {
    height: 100vh;
    background-color: burlywood;
}

#logo2 {
    height: 20rem;
    justify-self: center;
}