.container {
    display: flex;
    flex-wrap: wrap;
}

body {
    margin: 0;
    padding: 0;
}

#homepage {
    height: 100vh;
    background-color: #FFE2AD;
}

#logo {
    justify-content: flex-start;
    height: 25rem;
}

#topImage {   
    height: 20rem;
    width: 50rem;
    padding-bottom: 5rem;
}

/* NAV BAR ################################################################*/
ul {
    display: flex;
}

li {
    box-sizing: content-box;
	list-style-type: none;
	margin: 13px;
	font-size: 20px;
}

a {
    box-sizing: content-box;
	list-style-type: none;
	text-decoration: none;
	background-color: #a81b1b;
	color: black;
}

nav {
    box-sizing: border-box;
	width: auto;
	background-color: #a81b1b;
}

#navlinks {
    box-sizing: border-box;
	margin-left: 40px;
}

/* Dropdown Button */
.dropbtn {
	background-color: #a81b1b;
	color: black;
	padding: 16px;
	font-size: 18px;
	border: none;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	box-sizing: content-box;
	display: none;
	position: absolute;
	background-color: #a81b1b;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
	box-sizing: border-box;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
	  background-color: rgb(184, 30, 30);
}
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	  display: block;
}  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
	  background-color: rgb(184, 30, 30);
}







#officers {
    height: 100vh;
    background-color: burlywood;
}

#12989A
#D03815

#membership {
    height: 100vh;
    background-color: teal;
}

#certification {
    height: 100vh;
    background-color: burlywood;
}

#scholarship {
    height: 100vh;
    background-color: teal;
}

#sites {
    height: 100vh;
    background-color: burlywood;
}

#jobs {
    height: 100vh;
    background-color: teal;
}

#community {
    height: 100vh;
    background-color: burlywood;
}

#dvrclogo {
    height: 10rem;
}

#sponsors {
    height: 100vh;
    background-color: teal;
}

#contact {
    height: 100vh;
    background-color: burlywood;
}

#logo2 {
    height: 20rem;
    justify-self: center;
}